@using System.Web.Optimization
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>@ViewBag.Title-管理系统</title>
    @Styles.Render("~/Bundles/admin/css")
    @RenderSection("styles", required: false)
    <script type="text/javascript">
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
        <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
    <![endif]-->
</head>
@{
    var theme = Html.Action("Theme", "Layout").ToString();
}
<body class="sidebar-mini @(theme==""?"skin-purple-light":theme) fixed" style="height: auto;">
    <div class="wrapper" style="height: auto;">
        @Html.Action("Header", "Layout", new { area = "Admin" })
        @Html.Action("SideBar", "Layout", new { area = "Admin" })
        <div class="content-wrapper">
            @RenderBody()
        </div>
        @Html.Action("Footer", "Layout", new { area = "Admin" })
        @Html.Action("ControlSideBar", "Layout", new { area = "Admin" })
    </div>
    @Scripts.Render("~/Bundles/admin/js")
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sweetalert/sweet-alert.min.js")"></script>
    @Scripts.Render("~/Bundles/abp")
    @RenderSection("scripts", required: false)
    <script>
    $(function() {
        $("[data-skin]").on('click', function () {
            $.post('@Url.Action("ModifySkin","Home")?skin=' + $(this).data('skin'), null, function (data) {
                if (data.result.success === true) {
                    abp.notify.success(data.result.msg);
                } else {
                    abp.notify.error(data.result.msg);
                }
            });
        });
    });
    </script>
</body>
</html>
